[Unit]
Description=LiDAR Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/lidar-service/venv/bin/python /opt/lidar-service/app/src/main.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
