name: Build deb package

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: write

env:
  PKG_NAME: lidar-service

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  build:
    needs: ci
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: arm64
            runs-on: ubuntu-24.04-arm
            deb_arch: arm64
          - arch: amd64
            runs-on: ubuntu-24.04
            deb_arch: amd64

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version from Git tag
        id: version
        run: |
          TAG_NAME=${GITHUB_REF_NAME}
          
          VERSION=${TAG_NAME#v}
          
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Using version: $VERSION"

      - name: Patch pyproject.toml locally
        run: |
          sed -i "s/^version\s*=.*/version = \"$VERSION\"/" pyproject.toml

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y dpkg-dev python3.12-venv python3.12-dev build-essential

      - name: Build deb
        run: make deb
        env:
          VERSION: ${{ env.VERSION }}
          DEB_ARCH: ${{ matrix.deb_arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PKG_NAME }}-${{ matrix.deb_arch }}-deb
          path: "*.deb"

  release:
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**/*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
